@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, rgba(9, 9, 41, 0.89), black);
    }
    section#login{
        width: 80vw;
    }
    div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    div#formulario{
        float: right;
        width: 70%;
    }
    form > div.campo > input[type=email]{
        width: 90%;
    }
    div.campo > input[type=password]{
        width: 90%;}
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, rgba(9, 9, 41, 0.89), black);
    }
    section#login{
        width: 950px;
    }
    div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }
    div#formulario{
        float: right;
        width: 60%;
    }
    form > div.campo > input[type=email]{
        width: 90%;
    }
    div.campo > input[type=password]{
        width: 90%;}
    

}